# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/gpgpuSpaceBinning/Debug/*.*
/gpgpuSpaceBinning/ipch/*
/gpgpuSpaceBinning/*.vcx*
gpgpuSpaceBinning/gpgpuSpaceBinning.*